@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Roboto:wght@100&display=swap');


*{
   padding: 0;
   margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: roboto;
    background-color: #ffffff;
    border-radius: 10px;
}

table{
    border-radius: 20px;
    padding: 50px;
}

h1{

    display: flex;
    align-self: center;
    margin: 0px 0px 0px 30px;
}


header{
    background-color: #001c55   ;
    padding:  25px 50px 25px 50px;
    display: flex;
}

nav{
    background-color: #0e6ba8;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
   
}

aside{
    background-color: #0e6ba8   ;
    border-radius: 10px;
    padding: 80px;
    margin: 30px;
    float: right;
    position: sticky;
    top: 140px;

}


aside h3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;

}


article{
    padding: 120px;
    border-radius: 25px;
    text-align: center; 
    border: 50px;
    margin: 100px;    
    background-color: #81c3d7;
}

table{
    background-color: #84a98c;
  
}
#tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
}


.columna{
    background-color: #84a98c;
}

nav{
    position: sticky;
    top: -1px;
    display: flex;
}

nav h3{
    align-self: center;
    margin: 0px 20px 0px 0px;
}

footer{
    background-color: #001c55;
    padding: 70px 70px 600px 70px;
    
    display: flex ;
    align-content: center;
}

footer h2{
    position: relative;
    left: -10px;
    display: flex;
    align-self: center;    
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #758bfd;
    margin: 5px;
}

button:hover{
    background-color: #aeb8fe;
}


p{
     font-family: lato;
}

div h3{
    font-family: lato;
}

.dibujo{
    width: 450px;
    height: 450px;
    
    
}

.dibujo:hover{
    opacity:0.3;
    
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#perfil{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
}
main{
    padding: 0px 200px 0px 200px;
}


